<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<listener>
		<listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>KeyValueProxy</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>KeyValueMaster</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>KeyValueSlave</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>KeyValueMaster</servlet-name>
		<url-pattern>/kvmaster</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KeyValueSlave</servlet-name>
		<url-pattern>/kvslave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KeyValueProxy</servlet-name>
		<url-pattern>/kvproxy</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
</web-app>